<%= render "layouts/navbar" %>
<%= render "layouts/header" %>

<section class="bg-info text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div><i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i></div>
        <h3>Your Memory 01</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div class="col-md-4">
        <div><i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i></div>
        <h3>Your Memory 01</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div class="col-md-4">
        <div><i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i></div>
        <h3>Your Memory 01</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid bg-light py-4 text-white" style="position: relative">
  <div class="row">
    <div class="col-md-5 bg-cover" style="
      background-image: url(https://images.unsplash.com/photo-1474312650852-739d4703e766?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
      position: absolute;
      top:0;
      bottom:0;">
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end text-md-dark">
      <div class="col-md-7">
        <div class="h4">Hello world</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <a href="#" class="btn btn-outline-info">Learn More</a>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="h5">Nice Shot</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
          </div>
          <div class="col-md-6">
            <div class="h5">Better Shot</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h3 class="text-center">Best Service In Seattle</h3>
    <div class="row mt-5">
      <div class="col-md-6 mb-2 d-flex">
        <div class="mr-3 text-info"><i class="fa fa-car fa-4x" aria-hidden="true"></i></div>
        <div>
          <h4>Transportation</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
      <div class="col-md-6 mb-2 d-flex">
        <div class="mr-3 text-info"><i class="fa fa-ship fa-4x" aria-hidden="true"></i></div>
        <div>
          <h4>Transportation</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
      <div class="col-md-6 mb-2 d-flex">
        <div class="mr-3 text-info"><i class="fa fa-car fa-4x" aria-hidden="true"></i></div>
        <div>
          <h4>Transportation</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
      <div class="col-md-6 mb-2 d-flex">
        <div class="mr-3 text-info"><i class="fa fa-ship fa-4x" aria-hidden="true"></i></div>
        <div>
          <h4>Transportation</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid py-5 bg-light text-white" style="position: relative">
  <div class="row justify-content-end">
    <div class="col-md-5 bg-cover" style="
      background-image: url(https://images.unsplash.com/photo-1506986927935-4c1ca107f35e?auto=format&fit=crop&w=334&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
      position: absolute;
      top:0;
      bottom:0;"></div>
  </div>
  <div class="container text-md-dark">
    <div class="row">
      <div class="col-md-7">
        <h3>Happy Memory Last</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        <dl class="row mt-4">
          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

          <dt class="col-sm-3">Euismod</dt>
          <dd class="col-sm-9">
            <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
          </dd>
          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

          <dt class="col-sm-3">Euismod</dt>
          <dd class="col-sm-9">
            <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
          </dd>
        </dl>  
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.2891732728795!2d-122.35146072107082!3d47.620509895113976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace+Needle!5e0!3m2!1sen!2sus!4v1510529431394" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <form id="needs-validation" novalidate>
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username" placeholder="Enter your name..." required>
          <small class="invalid-feedback">Please enter your name.</small>
        </div>
         <div class="form-group">
          <label for="tel"> Phone</label>
          <input type="tel" class="form-control" id="tel" placeholder="Enter your telephone..." required>
          <div class="invalid-feedback">Please enter your phone number.</div>
        </div>
        <div class="form-group">
          <label for="username">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email..." required>
          <div class="invalid-feedback">Please enter your email.</div>
        </div>
        <div class="form-group">
          <label for="color">Favorite Color</label>
          <select class="form-control" id="color" required>
            <option>Red</option>
            <option>Blue</option>
            <option>Yellow</option>
            <option>Green</option>
            <option>Purple</option>
          </select>
        </div>
        <div class="custom-controls-stacked">
          <label class="custom-control custom-radio">
            <input id="radioStacked3" name="customer" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">First time Customer</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radioStacked4" name="customer" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Return Customer</span>
          </label>
        </div>
        <div class="text-right">
          <button type="sumbit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';

          window.addEventListener('load', function() {
            var form = document.getElementById('needs-validation');
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          }, false);
        })();
      </script>
    </div>
  </div>
</section>

<section class="container-fluid text-white">
  <div class="row">
    <div class="col-md-6 p-4 bg-cover" style="background-image: url(https://images.unsplash.com/photo-1501884863386-180d4821a3e5?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D)">
      <p>Join Us</p>
      <h3>Come to Life. Come to Miles of Smaile</h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      <a href="#" class="btn btn-outline-warning">More Info</a>
    </div>
    <div class="col-md-6 p-4 bg-cover" style="background-image: url(https://images.unsplash.com/photo-1490648875801-10d926b882d3?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D)">
      <p>Join Us</p>
      <h3>Come to Life. Come to Miles of Smaile</h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      <a href="#" class="btn btn-outline-warning">More Info</a>
    </div>
  </div>
</section>
<footer class="bg-light py-3 text-center">
  Created by Brian Fan
</footer>